body {
  background-color: #f9f9f9;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}

.canvas {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background-color: white;
  border: 5px solid #333;
  border-radius: 5px;
  bottom: 0;
  box-sizing: border-box;
  height: 490px;
  left: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 650px;
}

.canvas-element-container {
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.canvas-element {
  display: inline-block;
  position: absolute;
  text-shadow: -1px -1px white, 1px -1px white, -1px 1px white, 1px 1px white;
  white-space: nowrap;
}